* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
}





.container {
  width: 96%;
  max-width: 1400px;
  margin: 0 auto;
}

.no-require {
  display: none !important;
}

.w-100 {
  width: 100% !important;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

p {
  font-size: 20px;
  line-height: 150%;
  margin: 10px 0;
  font-weight: 300;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-captialcase {
  text-transform: capitalize;
}

.heading {
  font-size: 45px;
  line-height: 1;
  font-weight: 300;
}
.heading span {
  display: block;
  font-size: 40px;
  font-weight: 200;
}

.common-btn {
  padding: 20px 90px 20px 30px;
  font-size: 22px;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  background: #4E5255;
  color: #fff;
  border-radius: 60px;
  position: relative;
}
.common-btn:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: url("../images/icon-arrow.png") no-repeat center;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  margin: auto;
  right: 6px;
  top: 0;
  bottom: 0;
  background-size: 23px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.common-btn.red {
  background: #D70C19;
}
.common-btn.red:hover {
  background: #4E5255;
}
.common-btn.red.white-hov:hover {
  background: #fff;
  color: #000;
}
.common-btn.red.white-hov:hover::after {
  background: url(../images/icon-arrow-white.png) no-repeat center;
  background-size: 23px;
  background-color: #D70C19;
}
.common-btn.short {
  font-size: 18px;
  padding-right: 55px;
}
.common-btn.short:after {
  background-color: transparent;
  -webkit-filter: invert(1);
          filter: invert(1);
  right: 15px;
}
.common-btn.short.text-link {
  padding: 0 40px 0 0;
  background: transparent;
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
}
.common-btn.short.text-link:after {
  right: 0;
  top: 0px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  -webkit-filter: invert(0);
          filter: invert(0);
}
.common-btn.short.text-link:hover {
  color: #D70C19;
}
.common-btn.short.text-link:hover::after {
  background: url(../images/icon-arrow-red.png) no-repeat center;
  background-size: 23px;
}
.common-btn:hover {
  background: #D70C19;
}

.header {
  padding: 5px 0 0;
  background: #fff;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.header .logo {
  max-width: 140px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.header .menu-toggle {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background: #4E5255;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  display: none;
  width: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
}
.header .menu-toggle span {
  width: 100%;
  height: 2px;
  background: #fff;
}
.header .menu-toggle:hover {
  background: #D70C19;
}
.header .close-btn {
  display: none;
}
.header li {
  font-size: 18px;
  padding-right: 25px;
  font-weight: 600;
}
.header li a {
  padding: 10px 5px;
  position: relative;
  color: #4E5255;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.header li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: #D70C19;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header li.btn a {
  background: #4E5255;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  padding: 10px 20px;
}
.header li.btn a:after {
  display: none;
}
.header li.btn a:hover {
  background: #D70C19;
  color: #fff;
}
.header li:hover a {
  color: #D70C19;
}
.header li:hover a:after {
  width: 100%;
}
.header.small {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header.small .logo {
  max-width: 100px;
}

.banner-sec {
  color: #fff;
}
.banner-sec .item {
  position: relative;
}
.banner-sec .item .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.banner-sec .item .text {
  max-width: 600px;
}
.banner-sec .item .text .heading {
  font-size: 52px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 20px;
}
.banner-sec .item .text p {
  font-size: 22px;
  font-weight: 300;
}
.banner-sec .item .text .links {
  margin-top: 30px;
}

.common-sec {
  padding: 50px 0;
}

.about-sec {
  padding: 30px 0;
  background: url("../images/about-sec-bg.webp") no-repeat 0 0;
  background-size: 100% 100%;
}
.about-sec .left {
  width: 525px;
  row-gap: 100px;
}
.about-sec .left .description {
  max-width: 90%;
}
.about-sec .left .links {
  gap: 15px;
  margin-top: 40px;
}
.about-sec .right {
  width: 600px;
}
.about-sec .right ul li {
  width: 250px;
  position: relative;
  z-index: 1;
}
.about-sec .right ul li .inner {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px;
  text-wrap: wrap;
}
.about-sec .right ul li .inner p {
  font-size: 16px;
  line-height: 120%;
  max-width: 80%;
  margin: 10px auto 0;
}
.about-sec .right ul li .inner .icon {
  margin-bottom: 10px;
}
.about-sec .right ul li:nth-of-type(1), .about-sec .right ul li:nth-of-type(4) {
  width: 100%;
  z-index: 2;
}
.about-sec .right ul li:nth-of-type(2), .about-sec .right ul li:nth-of-type(3) {
  margin-top: -40px;
}
.about-sec .right ul li:nth-of-type(4) {
  margin-top: -40px;
}
.about-sec .right ul li:nth-of-type(2) {
  left: -50px;
}
.about-sec .right ul li:nth-of-type(2)::before {
  position: absolute;
  content: "";
  background: url("../images/about-image.webp") no-repeat 0 0;
  width: 522px;
  height: 522px;
  z-index: -1;
  left: -90px;
  /* right: 0; */
  /* margin: auto; */
  top: -85px;
  background-size: 425px;
}
.about-sec .right ul .title {
  font-size: 20px;
  font-weight: 500;
}
.about-sec .heading {
  font-weight: 400;
}
.about-sec .heading span {
  font-weight: 200;
}

.rewads-sec {
  background: #111313;
  color: #fff;
  position: relative;
}
.rewads-sec:after {
  position: absolute;
  content: "";
  background: url("../images/reward-sec-bg.webp") no-repeat 0 0;
  width: 417px;
  height: 657px;
  right: 0;
  top: 0;
  mix-blend-mode: lighten;
}
.rewads-sec .inner {
  width: 66%;
}
.rewads-sec .decription {
  margin-top: 20px;
}
.rewads-sec .decription p {
  font-weight: 100;
}
.rewads-sec .prize-sec {
  margin-top: 60px;
}
.rewads-sec .prize-sec ul {
  gap: 8%;
}
.rewads-sec .prize-sec li {
  width: 28%;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.rewads-sec .prize-sec li span {
  font-size: 46px;
}
.rewads-sec .prize-sec li sup {
  position: relative;
  top: -4px;
}
.rewads-sec .prize-sec li a {
  display: block;
  color: #9F9F9F;
  padding-bottom: 10px;
}
.rewads-sec .prize-sec li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  bottom: 0;
}
.rewads-sec .prize-sec li:hover a, .rewads-sec .prize-sec li.active a {
  color: #fff;
}
.rewads-sec .prize-sec li:hover::after, .rewads-sec .prize-sec li.active::after {
  width: 100%;
}
.rewads-sec .prize-sec .prizes-overview {
  margin-top: 25px;
  position: relative;
  z-index: 1;
}
.rewads-sec .prize-sec .prizes-overview .image {
  position: relative;
}
.rewads-sec .prize-sec .prizes-overview .image .prize-title {
  font-size: 40px;
  font-weight: 200;
  position: absolute;
  top: 5px;
  padding: 10px 20px;
  background: #D70C19;
  line-height: 1;
}
.rewads-sec .prize-sec .prizes-overview .image .description {
  font-size: 25px;
  position: absolute;
  bottom: 4px;
  padding: 25px;
  background: rgba(0, 0, 0, 0.3);
  line-height: 120%;
}

.join-byd-sec {
  position: relative;
  z-index: 0;
  background: #fff;
  margin-top: -200px;
}
.join-byd-sec .inner {
  width: 31%;
}
.join-byd-sec .inner .title {
  font-size: 26px;
  line-height: 120%;
}
.join-byd-sec .inner .links {
  margin-top: 30px;
}

.announcements-sec .announcements-slider {
  padding: 50px 100px 0;
}
.announcements-sec .announcements-slider .item {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}
.announcements-sec .announcements-slider .item .date {
  max-width: 110px;
  line-height: 120%;
  font-size: 20px;
  padding: 20px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  border-radius: 10px;
  background: #4E5255;
  color: #fff;
  font-weight: 500;
}
.announcements-sec .announcements-slider .item .detail {
  width: calc(100% - 140px);
}
.announcements-sec .announcements-slider .item .detail .title {
  font-size: 22px;
  color: #000;
  font-weight: 400;
  line-height: 120%;
}
.announcements-sec .announcements-slider .item .detail .description {
  font-size: 20px;
  margin-top: 5px;
  line-height: 120%;
  color: #000;
  font-weight: 300;
}
.announcements-sec .announcements-slider .item .detail .links {
  position: absolute;
  bottom: 0;
}
.announcements-sec .announcements-slider .item:hover .date {
  background: #D70C19;
}

.contest-sec {
  background: url("../images/contest-sec-bg.webp") no-repeat 0 0;
  background-attachment: fixed;
  background-size: 100%;
  padding-top: 275px;
  background-position: right;
}
.contest-sec .inner {
  width: 640px;
  color: #fff;
  background: #686D71;
  padding: 80px;
  position: relative;
}
.contest-sec .inner:before, .contest-sec .inner:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  left: 35px;
  top: 35px;
}
.contest-sec .inner:after {
  left: auto;
  right: 35px;
  top: auto;
  bottom: 35px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.contest-sec .inner .heading {
  font-size: 50px;
  font-weight: 500;
}
.contest-sec .inner .description {
  margin: 20px 0 50px;
}

.levels-sec {
  background: url("../images/about-sec-bg.webp") no-repeat 0 0;
  background-size: 100% 100%;
  margin-top: -70px;
  padding-top: 120px;
}
.levels-sec .levels-item {
  gap: 40px;
}
.levels-sec .levels-item .item {
  width: 25%;
  background: #fff;
  padding: 20px 20px 50px;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.05);
}
.levels-sec .levels-item .item .level-type {
  position: absolute;
  font-size: 26px;
  font-weight: 300;
  width: 100%;
  left: 0;
  right: 0;
  gap: 10px;
  top: -28px;
  padding-right: 40px;
}
.levels-sec .levels-item .item .level-type .count {
  width: 45px;
  height: 45px;
  background: #D70C19;
  color: #fff;
  font-size: 28px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -8px;
}
.levels-sec .levels-item .item .title {
  font-size: 22px;
  font-weight: 400;
  margin: 25px 0;
}
.levels-sec .levels-item .item p {
  font-size: 18px;
  line-height: 150%;
}
.levels-sec .levels-item .item .duration {
  margin-top: 25px;
  line-height: 24px;
  font-weight: 300;
  font-size: 18px;
}
.levels-sec .levels-item .item .duration span {
  display: block;
}
.levels-sec .levels-item .item .duration b {
  font-weight: 400;
}
.levels-sec .levels-item .item .links {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.partner-overview-sec ul li {
  margin-top: 70px;
}
.partner-overview-sec ul li .image {
  width: 42%;
}
.partner-overview-sec ul li .detail {
  width: 55%;
  padding: 0 35px 35px;
  position: relative;
}
.partner-overview-sec ul li .detail:before, .partner-overview-sec ul li .detail:after {
  position: absolute;
  content: "";
  width: 350px;
  height: 350px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  right: 0;
  top: 0;
  z-index: -1;
}
.partner-overview-sec ul li .detail:after {
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.partner-overview-sec ul li .detail .social-share {
  margin: 30px 0;
  font-size: 16px;
  gap: 10px;
  font-weight: 400;
}
.partner-overview-sec ul li .detail .social-share .socail {
  gap: 10px;
}
.partner-overview-sec ul li:nth-of-type(even) {
  text-align: right;
}
.partner-overview-sec ul li:nth-of-type(even) .image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.partner-overview-sec ul li:nth-of-type(even) .detail .social-share {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.partner-overview-sec ul li:nth-of-type(even) .detail:before, .partner-overview-sec ul li:nth-of-type(even) .detail:after {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: auto;
  left: 0;
}
.partner-overview-sec ul li:nth-of-type(even) .detail:after {
  -webkit-transform: scaleX(-1) rotate(180deg);
          transform: scaleX(-1) rotate(180deg);
  left: auto;
  right: 0;
}
.partner-overview-sec ul li:first-of-type {
  margin-top: 0;
}

.faq-sec li {
  margin-top: 25px;
}
.faq-sec li .title {
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 22px;
  padding: 15px 25px;
  font-weight: 400;
  cursor: pointer;
  line-height: 120%;
  position: relative;
}
.faq-sec li .title:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  border: solid currentColor;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 21px;
  top: 18px;
}
.faq-sec li .body {
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px;
  display: none;
}
.faq-sec li.active .title {
  background: #D70C19;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.faq-sec li.active .title:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  top: 22px;
}

.footer {
  padding-top: 60px;
  background: rgb(37, 37, 37);
}
.footer .footer-logo {
  max-width: 150px;
  padding-right: 15px;
}
.footer .footer-nav {
  max-width: calc(100% - 225px);
}
.footer .top-nav {
  padding-bottom: 30px;
  border-bottom: solid 1px #4E5255;
}
.footer .top-nav li {
  font-size: 18px;
  font-weight: 400;
}
.footer .top-nav li a {
  color: rgb(176, 176, 176);
  padding-right: 20px;
}
.footer .top-nav li a:hover {
  color: #fff;
}
.footer .top-nav li:last-child a {
  padding-right: 0;
}
.footer .top-nav.bottom-nav {
  margin: 30px 0 40px;
  padding-bottom: 0;
  border: none;
}
.footer .top-nav.bottom-nav li {
  font-size: 16px;
}
.footer .concetivity-sec {
  gap: 10px;
}
.footer .concetivity-sec .common-btn.short {
  padding: 10px 15px;
  background: #333333;
  border: solid 1px #000;
  font-size: 16px;
  text-transform: none;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .concetivity-sec .common-btn.short:after {
  display: none;
}
.footer .concetivity-sec .common-btn.short:hover {
  background: #D70C19;
}
.footer .footer-bottom {
  margin-top: 60px;
  color: #252525;
  font-size: 16px;
  background: #fff;
  padding: 20px 0;
}
.footer .footer-bottom a {
  color: #252525;
}
.footer .footer-bottom a:hover {
  color: #D70C19;
}

.slide-icon {
  position: relative;
}
.slide-icon .owl-nav [class*=owl-] {
  width: 60px;
  height: 60px;
  background: url("../images/icon-arrow.png") no-repeat center !important;
  border-radius: 50%;
  border: solid 1px #000 !important;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: absolute;
  top: 60px;
}
.slide-icon .owl-nav [class*=owl-] span {
  font-size: 0;
}
.slide-icon .owl-nav [class*=owl-].owl-prev {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slide-icon .owl-nav [class*=owl-].owl-next {
  right: 0;
}
.slide-icon .owl-nav [class*=owl-]:hover {
  background: url("../images/icon-arrow-white.png") no-repeat center #000 !important;
}/*# sourceMappingURL=main.css.map */