<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>






 # Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'report-sample';"

#Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'report-sample'; style-src 'self' 'unsafe-inline';"
# Header set Content-Security-Policy "default-src 'self' data: 'unsafe-inline' 'unsafe-eval' https:; img-src 'self' data: https:; style-src 'self' 'unsafe-inline' https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:; font-src 'self' data: https:;"

       # HTTP Strict Transport Security (HSTS)
  #  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    # X-Frame-Options
  #  Header always set X-Frame-Options "SAMEORIGIN"

    # X-Content-Type-Options
  #  Header set X-Content-Type-Options "nosniff"

    # Referrer-Policy
   # Header set Referrer-Policy "no-referrer-when-downgrade"

    # Permissions-Policy
  #  Header set Permissions-Policy "geolocation=(), microphone=(), camera=()"


</IfModule>
